{% extends 'base.html.twig' %}

{% block header %}
    <header class="home-header mb-5">
        <a class="nes-btn d-flex justify-content-center align-items-center ml-3 ml-md-5" href="{{ path('app_index') }}">hype.</a>
        <a class="nes-btn is-primary mr-3 mr-md-5" href="{{ path('profile_index') }}"><i class="nes-logo"></i></a>
    </header>
{% endblock %}

{% block title %}All aboard the hype train !{% endblock %}

{% block body %}
    <div class="container">
        <h1>users.</h1>
        <div class="nes-container with-title my-5">
            <h2 class="title">Gestion des utilisateurs</h2>
            <div class="lists">
                <ul class="nes-list is-circle">
                    {% for user in users %}
                        <li>{{ user.email }} - <a href="{{ path('profile_okusers', {'id': user.id}) }}">Ok</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
