@import '../../node_modules/bootstrap/scss/bootstrap';
@import "../../node_modules/nes.css/css/nes.css";

body {
  font-family: "Press Start 2P", serif;
  position: relative;
}

a {
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

header {
  display: flex;
  justify-content: flex-end;
  margin: 1em 1em 0 0;

  &.show-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
  }
}

.game-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:hover {
    .cartridge {
      animation: 0.7s steps(3, end) infinite up;
      @keyframes up {
        from {
          transform: translateY(0px)
        }
        to {
          transform: translateY(-10px)
        }
      }
    }
  }
}

.game-name {
  text-align: center;
  padding: 1em;
}

.jeu_show {

  .cover {
    position: relative;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
    }
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .carousel-control-next {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
  }

  .carousel-control-prev {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
  }
}

form {
  width: 100%;

  div {
    margin-bottom: 1em;
  }

  input, textarea {
    width: 100%;
  }

}

.balloon-404 {
  width: fit-content;
}

.error-404 {
  font-size: 5em;
}

@import "cart";